

*{padding: 0;
    margin: 0;
    box-sizing: border-box;}

html{font-size: 62.5%;}

body{
    display:grid;
place-content: center;
min-height: 100vh;
background-color: hsl(30, 38%, 92%);}
img{display: block;
width: 100%;}

.card{max-width: 65rem;
    display: grid;
grid-template-columns: repeat(2, 1fr);
border-radius: 10px;
overflow: hidden;
background-color: hsl(0, 0%, 100%)}

.text-side{
    padding: 2.8rem;
display: grid;
}

    .first-line{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
letter-spacing: .5rem;
color: hsl(228, 12%, 48%);}

h1{font-family:'Fraunces', serif; 
    font-weight: 700;
    font-size: 4rem;
line-height:.891;}

.ingre{font-family:'Montserrat', sans-serif;
color:  hsl(228, 12%, 48%);
font-size:1.4rem;
line-height: 1.8;}

.price-container{display: flex;
align-items: center;
margin-bottom: 2.6rem;}
.price-with-dis{font-family: 'Fraunces', serif; 
    font-weight: 700; 
    color: hsl(158, 36%, 37%);
    font-size: 3.8rem;
margin-right:1.6rem ;}


.real-price {font-size: 1.6rem;}

button{background-color: hsl(158, 36%, 37%);
border: none;
border-radius: 10px;
color: hsl(30, 38%, 92%);
display: flex;
align-items: center;
justify-content: center;
transition: all .2s;
padding:1.4rem 3.8rem;
font-size: 1.4rem;
font-weight: 600;}


button:hover{cursor: pointer;
background-color: hsl(159, 33%, 15%);}
.log{width: 1.6rem;
height: 1.6rem;
margin-right: 1.2rem;}

@media (max-width:25em) {
    .card{grid-template-columns: 1fr;
    margin:2rem 1rem;}
    
    .first-line{
font-size: 1rem;
letter-spacing: .5rem;
color: hsl(228, 12%, 48%);
margin-bottom: 1.5rem;}


h1{margin-bottom: 1.5rem;}


.ingre{margin-bottom: 1.5rem;}

.price-container{margin-bottom: 1rem;}


button{padding: 1.6rem 3.6rem;}



}
